<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/{{ site.usernames.github }}" target="_blank" rel="noopener noreferrer" class="social-link">
              <span class="icon">
                <img src="{{ '/imgs_vids/icon-github.webp' | relative_url }}" width="24" height="24" alt="GitHub">
              </span>
              <span>{{ site.usernames.github }}</span>
            </a>
          </li>
          <li>
            <a href="mailto:{{ site.email }}" class="social-link">{{ site.email }}</a>
          </li>
          <li>
            <span class="icon">
              <img src="{{ '/imgs_vids/icon-discord.webp' | relative_url }}" width="24" height="24" alt="Discord">
            </span>
            <span class="username">{{ site.usernames.discord }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
